<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SDET_Warriors_Test_Suite" >

	<listeners>
		<listener class-name="utilities.ExtentReportManager"></listener>
	</listeners>  
          
   
    <test name="SDET Warrior Test">   
      <classes>

         <class name="testCases.GetStartedPageTests"/> 
         <class name="testCases.HomePageTests"/>
         <class name="testCases.SignInPageTests"/> 

       	 <class name="testCases.RegisterPageTests"/> 
       </classes>

    </test> <!-- Test -->
    
</suite> <!-- Suite -->
